body {
    font: 24px Helvetica;
    background: #999999;
    flex-direction: column;
    display: flex;
    min-height: 98vh;
    margin: 0;
}

#main {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    min-height: 80vh;
}

#main > * {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main > div {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #000000;
    flex: 3 1 60%;
    flex-grow: 2;
    order: 2;
    flex-direction: column;
}

#main > article {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #000000;
    flex: 3 1 60%;
    flex-grow: 2;
    order: 2;
    flex-direction: column;
}

#main > nav {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    flex: 1 6 20%;
    order: 1;
    flex-direction: column;

}

#main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    flex: 1 6 20%;
    order: 3;
    display: flex;
    flex-direction: column;
}

.info {
    padding: 5px;
    border-radius: 7pt;
    background: #ffec4e;
    /*flex: 1 6 20%;*/
    /*order: 3;*/
    margin-top: auto;
}

.win {
    padding: 5px;
    border-radius: 7pt;
    background: #00ff1a;
    border: 1px solid #00b818;
    margin-top: auto;
}

.lose {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #ff000e;
    border: 1px solid #c30006;
    margin-top: auto;
}

#train_desk {
    display: flex;
    align-items: center;
    justify-content: center;
}

#maps_menu * {
    /*background-color: #000000;*/
    align-items: center;
    display: flex;
    justify-content: center;
}

.white_text {
    color: white;
    text-align: center;
    font: 32px Helvetica;
    padding: 10px;
    display: flex;
}

.rotate {
    transform: rotate(45deg);
}

.transform_3d {
    perspective: 500px;
}

.transform_3d canvas {
    transform: rotateY(45deg);
}

.move {
    position: relative;
    -webkit-animation: posun 4s linear infinite;
}

.vanish {
    display: block;

    -webkit-animation: fadeInFromNone 3s linear infinite;
    -moz-animation: fadeInFromNone 3s linear infinite;
    -o-animation: fadeInFromNone 3s linear infinite;
    animation: fadeInFromNone 3s linear infinite;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@keyframes posun {
    0%, 100% {
        right: 0px;
        top: 100px;
    }
    25% {
        right: 200px;
        top: 100px;
    }
    50% {
        right: 200px;
        top: 300px;
    }
    75% {
        right: 0px;
        top: 300px;
    }
}

.spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
    }
}

/* all other browsers */
@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    min-width: 20vw;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    background-color: #555555;
    color: white;
}

header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    border: 1px solid #eebb55;
    border-radius: 7pt;
    background: #ffeebb;
    min-height: 5vh;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

header {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    
    text-transform: uppercase;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    #main, #page {
        flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
        order: 0;
    }

    #main > nav, #main > aside, header, footer {
        min-height: 50px;
    }
}