body {
    font: 24px Helvetica;
    background: #999999;
    flex-direction: column;
    display: flex;
    min-height: 98vh;
}

#main {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}

#main > article {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #000000;
    flex: 3 1 60%;
    flex-grow: 2;
    order: 2;
    flex-direction: column;
}

#main > nav {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    flex: 1 6 20%;
    order: 1;
    flex-direction: column;

}

#main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    flex: 1 6 20%;
    order: 3;
    display: flex;
    flex-direction: column;

}

.info {
    padding: 5px;
    border-radius: 7pt;
    background: #ffec4e;
    /*flex: 1 6 20%;*/
    /*order: 3;*/
    margin-top: auto;
}

.win {
    padding: 5px;
    border-radius: 7pt;
    background: #00ff1a;
    border: 1px solid #00b818;
    margin-top: auto;
}

.lose {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #ff000e;
    border: 1px solid #c30006;
    margin-top: auto;
}

#train_desk {
    display: flex;
    align-items: center;
    justify-content: center;
}

#maps_menu * {
    /*background-color: #000000;*/
    align-items: center;
    display: flex;
    justify-content: center;
}

.white_text {
    color: white;
    text-align: center;
    font: 32px Helvetica;
    padding: 10px;
    display: flex;
}

.rotate {
    transform: rotate(45deg);
}

.transform_3d {
    perspective: 500px;
}

.transform_3d canvas {
    transform: rotateY(45deg);
}

.move {
    position: relative;
    -webkit-animation: posun 4s linear infinite;
}

.vanish {
    display: block;

    -webkit-animation: fadeInFromNone 3s linear infinite;
    -moz-animation: fadeInFromNone 3s linear infinite;
    -o-animation: fadeInFromNone 3s linear infinite;
    animation: fadeInFromNone 3s linear infinite;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@keyframes posun {
    0%, 100% {
        right: 0px;
        top: 100px;
    }
    25% {
        right: 200px;
        top: 100px;
    }
    50% {
        right: 200px;
        top: 300px;
    }
    75% {
        right: 0px;
        top: 300px;
    }
}

header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 60px;
    border: 1px solid #eebb55;
    border-radius: 7pt;
    background: #ffeebb;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    #main, #page {
        flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
        order: 0;
    }

    #main > nav, #main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}