body {
    font: 24px Helvetica;
    background: #999999;
    flex-direction: column;
    display: flex;
}

#main {
    flex-grow: 1;
    min-height: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    /*height: 100%;*/
}

#main > article {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #000000;
    flex: 3 1 60%;
    order: 2;
    flex-direction: column;
}

#main > nav {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    flex: 1 6 20%;
    order: 1;
    flex-direction: column;
}

#main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    flex: 1 6 20%;
    order: 3;
    display: flex;
    flex-direction: column;
}

.info {
    padding: 5px;
    border-radius: 7pt;
    background: #ffec4e;
    /*flex: 1 6 20%;*/
    /*order: 3;*/
    margin-top: auto;
}

.win {
    padding: 5px;
    border-radius: 7pt;
    background: #00ff1a;
    border: 1px solid #00b818;
    margin-top: auto;
}

.lose {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #ff000e;
    border: 1px solid #c30006;
    margin-top: auto;
}

#train_desk {
    display: flex;
    align-items: center;
    justify-content: center;
}

#maps_menu * {
    /*background-color: #000000;*/
    align-items: center;
    display: flex;
    justify-content: center;
}

.white_text {
    color: white;
    text-align: center;
    font: 32px Helvetica;
    padding: 10px;
    display: flex;
}

.rotate{
    transform: rotate(45deg);
}



header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    border: 1px solid #eebb55;
    border-radius: 7pt;
    background: #ffeebb;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    #main, #page {
        flex-direction: column;
    }


    #main > article, #main > nav, #main > aside {
        order: 0;
    }

    #main > nav, #main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}